[submodule "api/account"]
	path = api/account
	url = https://github.com/carmonai/account.git
[submodule "api/account-service"]
	path = api/account-service
	url = https://github.com/carmonai/account-service.git
[submodule "api/auth"]
	path = api/auth
	url = https://github.com/carmonai/auth.git
[submodule "api/auth-service"]
	path = api/auth-service
	url = https://github.com/carmonai/auth-service.git
[submodule "api/gateway-service"]
	path = api/gateway-service
	url = https://github.com/carmonai/gateway-service.git
[submodule "api/organization"]
	path = api/organization
	url = https://github.com/carmonai/organization.git
[submodule "api/organization-service"]
	path = api/organization-service
	url = https://github.com/carmonai/organization-service.git
[submodule "api/usage"]
	path = api/usage
	url = https://github.com/carmonai/usage.git
[submodule "api/usage-service"]
	path = api/usage-service
	url = https://github.com/carmonai/usage-service.git
[submodule "api/inference-service"]
	path = api/inference-service
	url = https://github.com/carmonai/inference-service.git
